$primary-color: #c51a08;

@keyframes moveUp {
  from {
    bottom: -220px;
    opacity: 0;
  }
  to {
    bottom: -136px;
    opacity: 1;
  }
}

.ant-select-open {
  border-color: #dc2626;
}

.ant-form-item {
  div {
    box-shadow: none;
  }
}

::-webkit-scrollbar {
  width: 14px; /* Độ rộng của thanh cuộn */
  height: 12px; /* Độ cao của thanh cuộn ngang */
}

/* Đặt màu nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Đặt màu thanh kéo của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #c51a08;
  border-radius: 10px;
  border: 3px solid #f1f1f1; /* Thêm khoảng trắng cho thanh kéo */
}

/* Khi hover vào thanh kéo */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.ant-notification-notice-message,
.ant-notification-notice-description {
  margin-left: 64px !important;
  margin-bottom: 0 !important;
  width: max-content;
  margin-right: 40px;
}

:where(.css-dev-only-do-not-override-m4timi).ant-notification
  .ant-notification-notice-wrapper
  .ant-notification-notice {
  width: fit-content !important;
  padding: 12px 16px !important;
}
